* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 :root {
   --primary: #f10a0a;
   --secondary: #f4f4f4;
   --rojo-oscuro: #ad0c0c;
   --text: #333;
 }

 html {
  scroll-behavior: smooth; /* Hace el scroll suave */
}

 body {
   margin: 0;
   font-family: Arial, sans-serif;
   color: var(--text);
   background-color: var(--secondary);
  
   
  header {
     background-color: var(--primary);
     color: white;
     padding: 1.5rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
                  
  }

  #logo, .logo-placeholder {
  height: 150px;
  width: 150px; 
  padding: 0.5ex;
}
  
  #logo {
   object-fit: contain;
  }

  .header-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* apila el h1 y el p verticalmente */
    align-items: center;    /* centra horizontalmente */
    text-align: center;     /* centra el texto */
    
  }

  nav {
     background: #333;
     display: flex;
     justify-content: center;
     padding: 1rem;

     a {
       color: white;
       text-decoration: none;
       margin: 0 1rem;
     }

     a:hover {
       text-decoration: underline;
     }
   }

   

   
   main {
     padding: 2.5rem 1.5rem;
     max-width: 1200px;
     margin: auto;

     .product-grid {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
       gap: 1.5rem;

         

       .product-card {
         background: white;
         padding: 1rem;
         border-radius: 8px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center; 

         img {
           width: 60%;
           border-radius: 0.5rem;
           object-fit: contain;
           
         }

         .product-info {
           margin-top: 1rem;
         }

         .product-title {
           font-size: 1.1rem;
           font-weight: bold;
           margin: 0 0 5px;
         }

         .price {
           color: var(--primary);
           font-weight: bold;
         }

         .buy-button {
           margin-top: 0.75rem;
           padding: 0.75rem;
           background: var(--primary);
           color: white;
           border: none;
           cursor: pointer;
           border-radius: 0.5rem;
           transition: background 0.3s ease;
         }

         .buy-button:hover {
           background: #5723e4;
         }
        
       

       }
     }

    .section-fullscreen {
      min-height: 100vh; /* ocupa al menos todo el alto de la pantalla */
      padding: 3rem 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
     
     section {
          display: block;
          unicode-bidi: isolate;
        }

        #reseñas {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            article {
                display: flex;
                padding: 1em;
                margin: 1em;
                transition: transform 0.3s ease;
                &:hover {
                    border: 2px solid var(--rojo-oscuro);
                }
            }
        }
      .revisor {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin: 1em;
      }

      .reseña {
          flex: 1;
          font-family: 'Monterrat', sans-serif;
          padding: 1em;
          background-color: #f9f9f9;
          border-radius: 10px;
          font-style: italic;
          margin: 0.5em 0;
          p:nth-of-type(2) {
              display: flex;
              align-items: center;
              height: 100%;
          }
      }

      .foto-perfil {
          border: solid 2px var(--primary);
          box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
      }

      .card {
          background-color: #ffffff;
          border-radius: 10px;
          box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      }
    
   }

   footer {
     background: #222;
     color: white;
     text-align: center;
     padding: 1.5rem;
     margin-top: 2.5rem;
   }
 }

 @media (max-width: 600px) {
   body .hero h2 {
     font-size: 1.5rem;
     padding: 0.75rem;
   }
 }
